{% extends "base.html" %}

{% load static %}
{% block content %}
{% block nav_visible %}{% endblock %}
<nav class="navbar navbar-light bg-success py-2">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand" href="/">
      <img src="{% static 'imgs/fotologo/fotosambilito.png' %}" alt="Logo Sambilito" style="height: 50px;">
    </a>
  </div>
</nav>


<!-- empleado/password_reset_complete.html -->
<div class="row justify-content-center mt-0 py-5">
  <section class="col-md-6 col-lg-5">
    <div class="card shadow-sm border-0 text-center" style="border-radius: 20px;">
      <div class="card-body px-5 py-5">
        <h2 class="mb-4">✅ Contraseña actualizada</h2>
        <p class="mb-4 ">Tu nueva contraseña ha sido guardada exitosamente.<br>Ya puedes iniciar sesión con ella.</p>
        <a href="{% url 'signin' %}" class="btn btn-primary btn-lg">
          <i class="bi bi-box-arrow-in-right me-1"></i> Ir al inicio de sesión
        </a>
      </div>
    </div>
  </section>
</div>


{% endblock %}